<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="index.js"></script>
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="shortcut icon" href="favicon.ico" />
    <title>Analysis</title>
</head>
<body>
<img src="avatar.png" width="128" height="128" style="display: block; margin-left: auto; margin-right: auto;"> 
<h1 class='title'><%= "#{@username}##{@user_tag} " %></h1>
    <p class="description-text">The complete set of processed data can be found in the 'output/' directory</p>
    <p class="description-text"><%= "All events parsed in UTC#{@utc_offset}" %></p>
    <div class="section">
        <h3 class='section-heading'>Message Analysis  <%= "with '#{@specified_thread_name}'" if @specified_thread_name %></h3>
        <div class="misc-data">
            <p>Analysis Length: <%= @misc_data[:messages][:analysis_duration]%> seconds</p>
            <p>Total Message Count: <%= @misc_data[:messages][:total_message_count]%></p>
            <p>Average Words Per Message: <%= @misc_data[:messages][:average_words_per_message]%></p>
            <p>Average Messages Per Day: <%= @misc_data[:messages][:average_messages_per_day]%></p>
        </div>
        <div class='chartRow'>
            <div class='graph-1'>
                <a class="graph-source" href="../analyzed/messages/by_date.csv">Source</a>
                <canvas id="messagesByDay"></canvas>
            </div>
        </div>

        <div class='chartRow'>
            <div class='graph-2'>
                <a class="graph-source" href="../analyzed/messages/by_day_of_week.csv">Source</a>
                <canvas id="messagesByDayOfWeek"></canvas>
            </div>
            <div class='graph-2'>
                <a class="graph-source" href="../analyzed/messages/by_time_of_day.csv">Source</a>
                <canvas id="messagesByTimeOfDay"></canvas>
            </div>
        </div>

        <div class='chartRow'>
            <div class='graph-2'>
                <a class="graph-source" href="../analyzed/messages/commonly_used_messages.csv">Source</a>
                <canvas id="commonlyUsedMessages"></canvas>
            </div>
            <div class='graph-2'>
                <a class="graph-source" href="../analyzed/messages/commonly_used_words.csv">Source</a>
                <canvas id="commonlyUsedWords"></canvas>
            </div>
        </div>

        <div class='chartRow'>
            <div class='graph-2'>
                <a class="graph-source" href="../analyzed/messages/per_thread.csv">Source</a>
                <canvas id="perThread"></canvas>
            </div>
        </div>
    </div>
    <div class="section">
        <h3 class="section-heading">Event Analysis</h3>
        <% if @activity_available %>
            <div class="misc-data">
                <p>Analysis Length: <%= @misc_data[:activity][:analysis_duration]%> seconds</p>
                <p>Total Sessions: <%= @misc_data[:activity][:total_sessions]%></p>
                <p>Average Session Length: <%= @misc_data[:activity][:average_session_length]%></p>
                <p>Total App Opens: <%= @misc_data[:activity][:total_app_opens]%></p>
                <p>Total Reactions Added: <%= @misc_data[:activity][:total_reactions_added]%></p>
                <p>Total Reactions Removed: <%= @misc_data[:activity][:total_reactions_removed]%></p>
                <p>Total Voice Channel Joins: <%= @misc_data[:activity][:total_voice_channel_joins]%></p>
            </div>
            <div class='chartRow'>
                <div class='graph-2'>
                    <a class="graph-source" href="../analyzed/activity/time_by_os.csv">Source</a>
                    <canvas id="timeByOS"></canvas>
                </div>
                <div class='graph-2'>
                    <a class="graph-source" href="../analyzed/activity/time_by_location.csv">Source</a>
                    <canvas id="timeByLocation"></canvas>
                </div>
            </div>

            <div class='chartRow'>
                <div class='graph-2'>
                    <a class="graph-source" href="../analyzed/activity/time_by_device.csv">Source</a>
                    <canvas id="timeByDevice"></canvas>
                </div>
                <div class='graph-2'>
                    <a class="graph-source" href="../analyzed/activity/reactions_by_use.csv">Source</a>
                    <canvas id="reactionsByUse"></canvas>
                </div>
            </div>
            <div class='chartRow'>
                <div class='graph-2'>
                    <a class="graph-source" href="../analyzed/activity/games_play_count.csv">Source</a>
                    <canvas id="gamesPlayCount"></canvas>
                </div>
            </div>
        <% else %>
            <p class="description-text">No activity data found. Refer <a href="https://github.com/Brainicism/DiscordDataParser/blob/master/README.md#activity-data">here</a> for more details</p>
        <% end %>
        </div>
</body>
</html>

